/*chia độ rộng*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
* {
    box-sizing: border-box;
}
.menu {
    width: 25%;
    float: left;
}
.main {
    width: 75%;
    float: left;
}
.container {
    max-width: 1200px;
    margin: 0px auto;
}
/* Ipad 
    < 840
    col-3 => 50%
*/
@media screen and (max-width: 840px) {
    .col-3 {
        width: 50%;
    }
}
/* Ipad 
    > 841
*/
@media screen and (min-width: 841px) {

}
/* Ipad 
    < 546
    col-3 => 100%
*/
@media  screen and (max-width:546px ){
    .col-3 {
        width: 100%;
    }
    
}